apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: arc-systems
helmCharts:
- name: gha-runner-scale-set-controller
  namespace: arc-systems
  repo: oci://ghcr.io/actions/actions-runner-controller-charts
  version: 0.13.1
  releaseName: arc
  includeCRDs: true
  valuesFile: values.yaml

resources:
  - namespace.yaml
